h1 {
  text-align: center;
}

.board {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 620px;
}

.tileR,
.tileL {
  text-align: center;
  /* width: 4.5%; */
  margin: 2px;
  background-image: url('../data/brick.png');
  background-size: 64px 29px;
  background-repeat: space;
  border: 1px rgba(233, 233, 233, 0.6);
  box-shadow: 1px 1px 2px 2px rgba(169, 169, 169, 0.4);
}

.tileS {
  margin: 2px;
  /* width: 4%; */
  border: 1px rgba(233, 233, 233, 0.4);
  box-shadow: 1px 1px 2px 2px rgba(169, 169, 169, 0.4);
  background-image: url('../data/space.png');
  background-size: 64px 29px;
  background-repeat: space;
}

.tileR:hover,
.tileS:hover,
.tileL:hover {
  background-color: rgb(255, 251, 0);
}

@keyframes wrongMove {
  0% {
    background-image: url('../data/danger.png');
    background-size: 64px 29px;
    background-repeat: space;
  }
  100% {
    background-image: url('../data/brick.png');
    background-size: 64px 29px;
    background-repeat: space;
  }
}
